#toplink_right {
    float: right;
}

#topLink1 {
    float: left;
}

#topLink2 {
    display: inline;
}

#topLink3 {
    display: inline;
}

#sign_in {
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 90px;
}

#logo {
    width: 20%;
    padding-top: 100px;
    padding-left: 100px;
    margin: auto;
    display: block;
}

#search {
    margin: auto;
    display: block;
    width: 50%;
    height: 30px;
    border-radius: 30px;
}

#search_bttns {
    text-align: center;
}

.links {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
}

.search_bttn {
    display: inline;
    margin-top: 15px;
    width: 15%;
}

.waffle {
    margin-top: 5px;
    height: 20px;
    width: 20px;
}